@import "./mixins/common";
@import "./mixins/consultation";
@import "./components/header";
@import "./components/modals.scss";
@import "./components/footer.scss";

.about-consultation {
  margin-top: 190px;
  position: relative;
  @media (max-width: 991px) {
    margin-top: 125px;
  }
  .mobile {
    display: none;
  }
  h2 {
    display: none;
  }
  &__title {
    text-align: center;
    @media (max-width: 991px) {
      display: none;
      &.mobile {
        display: block;
        text-align: left;
      }
    }
  }
  &__subtitle {
    @include small_text;
    text-align: center;
    margin-top: 13px;
    @media (max-width: 991px) {
      display: none;
      &.mobile {
        display: block;
        text-align: left;
        margin-bottom: 88px;
        width: 277px;
        font-size: 17px;
      }
    }
    @media (max-width: 500px) {
      &.mobile {
        margin-bottom: 31px;
      }
    }
  }
  h2 {
    margin-bottom: 32px;
    width: 262px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 111px;
    margin-top: 94px;
    width: 100%;
    text-align: left;
    @media (max-width: 1200px) {
      grid-template-columns: auto auto;
      grid-column-gap: 56px;
    }
    @media (max-width: 776px) {
      grid-column-gap: 20px;
    }
    @media (max-width: 530px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }
  &__image-container {
    padding-bottom: 72px;
    @media (max-width: 530px) {
      padding-bottom: 32px;
    }

    img {
      position: sticky;
      top: 130px;
      @media (max-width: 1200px) {
        width: 100%;
        min-width: 353px;
      }
      @media (max-width: 776px) {
        max-width: 353px;
        min-width: 200px;
      }
      @media (max-width: 530px) {
        position: static;
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .consultation-list {
    margin-top: 0;
    padding-left: 0;
  }
  .consultation-item {
    margin-bottom: 69px;
    list-style: none;
    max-width: 455px;
    @media (max-width: 776px) {
      max-width: 332px;
    }
    @media (max-width: 530px) {
      margin-bottom: 40px;
    }
    &__title {
      @include subtitle;
      color: $black;
      margin: 0;
      position: relative;
      margin-left: 29px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -29px;
        top: 10px;
        width: 16px;
        height: 16px;
        background: $mainColor;
        border-radius: 50%;
      }
    }
    &__text {
      @include text;
      color: $black;
      margin-top: 18px;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 326px;
    height: 577px;
    background: url(../img/consultation/abstraction-right3.png);
    position: absolute;
    right: 0;
    bottom: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    @media (max-width: 991px) {
      width: 135px;
      height: 254px;
      bottom: 78%;
    }
    @media (max-width: 530px) {
      bottom: 53%;
    }
  }
}
.organizational-issues {
  background-color: #f9f9f9;
  padding: 93px 0 144px;

  @media (max-width: 991px) {
    padding: 26px 0 42px;
  }
  .container {
    flex-direction: column;
  }
  &__title {
    @include h2_title;
    margin-bottom: 47px;
  }
  &__text {
    @include text;
    font-size: 26px;
    margin-bottom: 40px;
  }
}
.what-i-do {
  padding-top: 84px;
  @media (max-width: 500px) {
    padding-top: 20px;
  }
  .container {
    flex-direction: column;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 673px;
      height: 370px;
      background: url(../img/consultation/abstraction-top.png);
      position: absolute;
      right: 0%;
      top: -84px;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
      @media (max-width: 991px) {
        width: 440px;
        height: 230px;
      }
      @media (max-width: 776px) {
        width: 340px;
        height: 130px;
      }
      @media (max-width: 500px) {
        top: -20px;
      }
    }
  }
  &__button {
    padding: 12px 30px;
    font-family: "Verdana";
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    background-color: $mainColor;
    max-width: 336px;
    position: relative;
    color: $white;
    border-radius: 10px;
    &::after {
      content: url(../img/dialog-icon.svg);
      display: block;
      position: absolute;
      left: 47px;
      transform: rotatey(180deg);
    }
    @media (max-width: 500px) {
      font-size: 19px;
      width: max-content;
      padding: 10px 30px;
      &::after {
        top: 17px;
        z-index: -1;
        left: 34px;
      }
    }
  }
  &__title {
    @include subtitle;
    margin-bottom: 35px;
    margin-top: 100px;
    @media (max-width: 500px) {
      margin-bottom: 18px;
    }
  }
  &__list {
    max-width: 406px;
    list-style: none;
    position: relative;
  }
  &__list-item {
    @include text;
    font-size: 26px;
    margin-bottom: 25px;
    padding-left: 40px;
    &::before {
      content: "\25CF";
      position: absolute;
      left: 10px;
      font-size: 20px;
    }
    @media (max-width: 500px) {
    }
  }
}
