@import "./mixins/common";
@import "./mixins/consultation";
@import "./components/header";
@import "./components/modals.scss";
@import "./components/footer.scss";

#reviews-page {
  .consultations {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 320px;
      height: 600px;
      background: url(../img/reviews/review-abstraction-3.png);
      position: absolute;
      left: 0;
      top: -300%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
      @media (max-width: 991px) {
        top: -340%;
      }
      @media (max-width: 768px) {
        width: 345px;
        height: 349px;
        top: -130%;
        left: -82px;
      }
    }
  }
}
.reviews {
  padding-top: 94px;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 400px;
    height: 600px;
    background: url(../img/reviews/review-abstraction-1.png);
    position: absolute;
    left: 0;
    top: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
      width: 345px;
      height: 349px;
      top: 14%;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 348px;
    height: 590px;
    background: url(../img/reviews/review-abstraction-2.png);
    position: absolute;
    right: 0;
    top: 43%;
    background-size: contain;
    background-repeat: no-repeat;
    @media (max-width: 991px) {
      top: 43%;
    }
    @media (max-width: 768px) {
      width: 146px;
      height: 250px;
      top: 46%;
    }
  }
  .container {
    flex-direction: column;
    z-index: 11;
  }
  &__title {
    text-align: center;
    margin: 94px 0 125px;
    position: relative;
    z-index: 1;
  }
  &__comment {
    @include text;
    font-size: 26px;
    color: $white;
    padding: 51px 53px 40px;
    background-color: $mainColor;
    position: relative;
    text-align: left;
    max-width: 793px;
    &::after {
      content: url(../img/dialog-icon.svg);
      display: block;
      position: absolute;
    }
    @media (max-width: 991px) {
      max-width: 492px;
      padding: 16px 10px 17px 21px;
      &::after {
        bottom: -30px !important;
        z-index: -1;
      }
    }
  }
  .avtor {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: $mainColor;
    text-align: right;
    padding: 20px 50px 0 0;
  }

  &__comment-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    &:nth-child(even) {
      align-items: flex-start;
      margin-bottom: 125px;
      @media (max-width: 768px) {
        margin-bottom: 63px;
      }
      .reviews__comment {
        border-radius: 20px 20px 20px 0px;
        @media (max-width: 991px) {
          border-radius: 8px 8px 8px 0px;
        }
        &::after {
          bottom: -50px;
          left: 0;
          transform: rotatey(180deg);
        }
      }
      .avtor {
        text-align: left;
        padding: 20px 0px 0 50px;
      }
    }
    &:nth-child(odd) {
      align-items: flex-end;
      @media (max-width: 768px) {
        margin-bottom: 71px;
      }
      .reviews__comment {
        border-radius: 20px 20px 0px 20px;
        @media (max-width: 991px) {
          border-radius: 8px 8px 0px 8px;
        }
        &::after {
          bottom: -50px;
          right: 0;
        }
      }
      .avtor {
        text-align: left;
        padding: 20px 50px 0 0px;
      }
    }
  }
}
