@import "./vars";
@mixin h1_title {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  @media screen and (max-width: 991px) {
    font-size: 30px;
  }
}
@mixin h2_title {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
  margin: 0;
  @media screen and (max-width: 991px) {
    font-size: 26px;
  }
}

@mixin subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  @media screen and (max-width: 991px) {
    font-size: 20px;
  }
}

@mixin text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: $black;
  @media screen and (max-width: 991px) {
    font-size: 16px;
  }
}
@mixin small_text {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: $gray;
  @media screen and (max-width: 991px) {
    font-size: 14px;
  }
}
